*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; // forces all (*) elements to inherit this CSS property 
}

html {
    // defines 1rem size as 10px
    font-size: 62.5%; // default browser font size is 16px 62.5% of 16 is 10px (our wanted default font size)
}

body  {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    margin: auto;
    box-sizing: border-box; // set this inherited CSS property at the base element we want to use it in
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100vh;
    width: 100vw;
}